LIVEKIT_API_KEY=<your-livekit-api-key>
LIVEKIT_API_SECRET=<your-livekit-api-secret>
LIVEKIT_URL=<your-livekit-url>


NEXT_PUBLIC_CONN_DETAILS_ENDPOINT=/api/livekit/connection-details
NEXT_PUBLIC_SHOW_SETTINGS_MENU=false
NEXT_PUBLIC_LK_RECORD_ENDPOINT=/api/livekit/record

# If you enter this name when joining you will appear as this image instead of video
NEXT_PUBLIC_HOST_NAME="Kyle Campbell"
NEXT_PUBLIC_HOST_IMAGE=/images/garth.png

# This agent name is not the agent display name in the meet app
NEXT_PUBLIC_AGENT_NAME=livekit-agent

# This is the voice agent's profile image
NEXT_PUBLIC_VOICE_AGENT_IMAGE=/images/voice-agent-image.jpg